<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title>Subscription Agreement</title>
</head>
<body>
<section layout:fragment="body_content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Subscription Agreement</h1>
        <div th:if="${param.error != null}" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="alert-icon">
                <i class="fas fa-fw fa-exclamation-circle"></i>
            </div>
            <div class="alert-message">
                <span th:text="${param.error[0]}"></span>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-sm-2 mb-1 mb-md-0">
                <div class="card h-100">
                    <img class="card-img-top" style="max-height: 200px;" th:src="${product.productImageUrl}">
                    <div class="card-header">
                        <h5 class="card-title mb-0" th:text="${product.name}"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:text="${product.description}"></li>
                    </ul>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">Duration : <strong class="card-text duration"
                                                                th:attr="data-duration=${product.duration}"> </strong>
                        </p>
                        <p class="text-muted">Fee : <strong
                                th:text="${'$' + #numbers.formatDecimal(product.pricePerUnit, 0, 'COMMA', 2, 'POINT') + (' ' + product.pricingType.label())}">
                        </strong>
                        </p>
                        <p class="text-muted">
                            Subscription : <strong
                                th:text="${product.paymentSchedule.getLabel()}">
                        </strong>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <a th:href="@{/schedule/product-selection(id=${installation.id})}"
                               class="btn btn-block btn-danger">Unselect</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 mb-1 mb-md-0">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="card-title">Terms of Service</h5>
                        <h6 class="card-subtitle text-muted">
                            <p>Please review our Terms of Service and sign to agree</p>
                        </h6>
                    </div>
                    <div class="card-body">
                        <div id="terms-of-service-container" class="embed-responsive embed-responsive-4by3"></div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" form="sign-term-of-service-agreement-form" class="btn btn-primary">Click
                            Here To Begin Signing
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="sign-term-of-service-agreement-form" th:action="@{/subscription}" th:object="${request}" method="post"
          onsubmit="$.blockUI();">
        <input type="hidden" th:field="*{installationId}"/>
        <input type="hidden" th:field="*{productId}"/>
    </form>
</section>
<section layout:fragment="end_of_body">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"
            integrity="sha256-rYPX3dXq8Nh532EvCS2foeyTgmzbcC8u+nCk/rEtKXA=" crossorigin="anonymous"></script>
    <script src="/js/product/duration.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var productId = /*[[${product.id}]]*/ null;
        var options = {
            id: "embedded-tos",
            width: "100%",
            height: "100%",
            fallbackLink: true
        };
        PDFObject.embed("/product/" + productId + "/terms_of_service", "#terms-of-service-container", options);
        $('#embedded-tos').addClass("embed-responsive-item")
        /*]]>*/
    </script>
</section>
</body>
</html>
