

@media only screen and (max-width:995px){
    .row > .col-lg-6{
        text-align:left !important;
    }
    .card-body > .row{
        padding-bottom: 1rem;
    }
}

.title-spacing{
    padding-bottom: 1rem;
}

.cases{
    margin-right:0px !important;
    margin-left:0px !important;
}

