.fc-bgevent {
    opacity: .40;
    border-bottom: 0.25px solid white !important;
}

.fc-time-grid .fc-slats td {
    height: 2em;
    border-bottom: 0;
}

.legend {
    list-style: none;
}

.legend li {
    float: left;
    margin-right: 10px;
}

.legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}

.legend .available {
    background-color: #4caf50;
    opacity: 0.40;
}

.legend .unavailable {
    background-color: whitesmoke;
}