<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/no-sidebar-and-navbar}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Customer Portal Reset Password">
    <meta name="author" content="Bootlab">
    <title th:text="#{message.resetPassword}">reset</title>
</head>
<body>
<section layout:fragment="body_content">


    <div class="card">
        <div class="card-body">
            <div class="text-center mt-4">
                <h1 class="h2">Reset password</h1>
                <p class="lead">
                    Enter your email to reset your password.
                </p>
                <p class="lead">
                    <a class="small" th:href="@{/login}">Login Page</a>
                </p>
            </div>
            <div class="m-sm-4">
                <form id="reset-password-form" th:action="@{/user/resetPassword}" method="post"
                      onsubmit="$.blockUI();">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control form-control-lg" id="email" type="email" name="email"
                               placeholder="Enter your email"/>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-lg btn-primary" disabled="disabled">Reset password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section layout:fragment="end_of_body">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script th:inline="javascript">

        var serverContext = [[@{
            /}]];

            $(document).ready(function () {
                $('#reset-password-form').submit(function (event) {
                    $.blockUI();
                    resetPass(event);
                });

                $('button[type="submit"]').prop('disabled', false);
            });

            var resetPass = function resetPass(event) {
                event.preventDefault();
                var formData = $('#reset-password-form').serialize();
                $.post(serverContext + "user/resetPassword", formData, function (data) {
                    window.location.href = serverContext + "login?message=" + data.message;
                }).fail(function (data) {
                    window.location.href = serverContext + "login?error=" + data.responseJSON.message;
                });
            }


        /**/

    </script>
</section>
</body>
</html>