<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/no-sidebar-and-navbar}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Customer Portal Update Password">
    <meta name="author" content="Bootlab">
    <title th:text="#{message.updatePassword}">update password</title>
    <style>
        .password-verdict {
            color: #000;
        }
    </style>
</head>
<body>
<section layout:fragment="body_content" sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">


    <div id="globalErrorAlert" class="alert alert-danger" role="alert" style="display:none">
        <div class="alert-icon">
            <i class="fas fa-fw fa-exclamation-circle"></i>
        </div>
        <div class="alert-message">
            <span id="globalErrorMessage"></span>
        </div>
    </div>

    <div class="card">
        <div class="text-center mt-4">
            <h1 class="h2" th:text="#{message.chooseYourPassword}">Reset password</h1>
            <p class="lead">
                <a class="small" th:href="@{/login}">Go to Login</a>
            </p>
        </div>

        <div class="card-body">
            <div class="m-sm-4">
                <form id="update-password-form" th:action="@{/user/updatePassword}" method="post"
                      onsubmit="$.blockUI();">
                    <div class="form-group">
                        <label for="password" th:text="#{label.user.password}">Password</label>
                        <input class="form-control form-control-lg" id="password" name="newPassword"
                               type="password"
                               value=""/>
                        <label th:text="#{label.user.confirmPass}">Confirm Password</label>
                        <input class="form-control form-control-lg" id="matchPassword" type="password"
                               value=""/>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
<section layout:fragment="end_of_body">
    <script th:src="@{/js/password/pwstrength.js}" th:inline="javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script th:inline="javascript">
        var serverContext = [[@{
            /}]];

            $(document).ready(function () {

                $('#update-password-form').submit(function (event) {
                    savePass(event);
                });

                $(":password").keyup(function () {
                    if ($("#password").val() !== $("#matchPassword").val()) {
                        $("#globalErrorAlert").show();
                        $("#globalErrorMessage").html(/*[[#{PasswordMatches.user}]]*/);
                    } else {
                        $("#globalErrorAlert").hide();
                    }
                });

                options = {
                    common: {minChar: 8},
                    ui: {
                        showProgressBar: false,
                        showVerdicts: false,
                        showErrors: true,
                        errorMessages: {
                            wordLength: /*[[#{error.wordLength}]]*/,
                            wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
                            wordSequences: /*[[#{error.wordSequences}]]*/,
                            wordLowercase: /*[[#{error.wordLowercase}]]*/,
                            wordUppercase: /*[[#{error.wordUppercase}]]*/,
                            wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
                            wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
                        }
                    }
                };
                $('#password').pwstrength(options);
            });

            var savePass = function (event) {

                event.preventDefault();
                $("#email").removeClass('is-invalid');
                $(".error-list").html("");

                if ($("#password").val() !== $("#matchPassword").val()) {
                    $("#globalErrorAlert").show();
                    $("#globalErrorMessage").html(/*[[#{PasswordMatches.user}]]*/);
                    return;
                }

                var formData = $('form').serialize();
                $.post(serverContext + "user/savePassword", formData, function (data) {
                    window.location.href = serverContext + "login?message=" + data.message;
                }).fail(function (data) {

                    let json = JSON.parse(data.responseJSON.message);
                    $.unblockUI();
                    $("#globalErrorAlert").show();
                    $('#globalErrorMessage').html(json[0].defaultMessage.replace(/,/g , '<br/>'));

                    //window.location.href = serverContext + "login?error=" + data.responseJSON.message;
                });
            }

    </script>
</section>

</body>

</html>