<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title>Title</title>
</head>
<body>
<section layout:fragment="body_content">

    <div class="embed-responsive embed-responsive-16by9" style="max-width: 75%; display: block; margin:auto;">
        <iframe src="//fast.wistia.net/embed/iframe/tqhdo73k2f?videoFoam=true"
                allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed"
                name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen
                oallowfullscreen msallowfullscreen ></iframe>
    </div>




</section>
<section layout:fragment="end_of_body">
</section>
</body>
</html>
